bin/*
obj/*
figs/*
output/*
TOYS/*
logs/*
output.txt
outputToys.txt
EventDict.C
EventDict_rdict.pcm
.cproject
.project
.svn/
.settings/*
ToyReading/correlations/*
ToyReading/results/*
ToyReading/report.aux
ToyReading/report.dvi
ToyReading/report.idx
ToyReading/report.log
ToyReading/report.pdf
ToyReading/report.ps
ToyReading/*.o
ToyReading/*.exe
*~